; Example: https://gist.github.com/pksunkara/988716
[user]
	email = alexander.larrazabal@crisalix.com
	name = AlexLarra
[pull]
	rebase = false
[core]
	excludesfile = /home/alex/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = vim --cmd 'let g:avoidSession=0'
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
  l = log --oneline
  lg = log --oneline --graph --decorate
